.table{ 
    height: 200px;
    display: flexbox;
    margin: auto auto 20px auto;
    background-color: rgb(156, 78, 78);
    border-radius:2%;
    box-shadow: 10px 10px rgb(214, 163, 163);
}
/* tbody{
    height: 200px;
    width: 100%;
    background-color:;
} */
input{
    height: 50px;
    width: 50px;
    /* padding:10px 10px 10px; */
    margin:10px 10px 10px;
    border:1px solid black;
    border-radius:10%;
    font-size:30px;
    font-weight: bolder;
}
#enter{
    height: 50px;
    width: 190px;
    border-radius: 2%;
}
input:hover{ background-color: rgb(238, 203, 203);}
